.panel > .widget-Knob-outer {
  display: block;
  text-align: center;
}
.widget-Knob-outer {
  white-space: nowrap;
  font-family: monospace;
  font-size: 2.8em;

  background: black;
  color: white;
  border: .03em inset #222;
}
.knob-digit {
  display: inline-block;
  position: relative; /* for buttons */
}
.knob-mark {
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
}
.knob-dim {
  opacity: 0.18;
}
.knob-dim:focus {
  opacity: 1.0;
}
.knob-digit:focus {
  /* hide normal focus ring */
  outline: none;
  /* and replace with a different more text-selectiony cue */
  background: rgba(127, 127, 127, 0.6);
  color: inherit;  
}
.knob-spin-button-shim {
  position: absolute;
  right: 50%;
  display: none;
}
.knob-digit:focus .knob-spin-button-shim {
  outline: none;
  display: inline-block;
}
.knob-spin-button-shim.knob-spin-up { bottom: 100%; }
.knob-spin-button-shim.knob-spin-down { top: 100%; }
.knob-spin-button {
  position: relative;
  right: -50%;
  font-size: .5em;
  box-sizing: border-box;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  margin: 0;
  display: block;
}
